*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* body{
  background-color:#222;
  height: 100vh;
  color: #fff;

}
.box{
  margin: 50px auto;
  width: 500px;
  height: 700px;
  border-radius: 10px;
  background-color:brown;
  text-align: center;
} */
/* .block{
  width: 500px;
  height: 700px;
  display: flex;
  justify-content: center;
} */
/* .h1{
  
  color: aliceblue;
  padding-top: 20px;
}
.text{
  margin: 10px 0;
  color: #fff;
}
.input__name{
  margin-top: 30px;
  width: 300px;
  height: 40px;
  padding-left: 20px;
  border-top: none;
  border-left: none;
  border-right: none;
  background:none;
  outline: none;
  border-radius:2px;
  color: #fff;
  border-bottom: 2px #fff solid;
}
.from{
  margin-top: 45px;
}
::placeholder{
  color:#fff;
  font-size: 18px;
}
.password{
  margin-bottom: 30px;
}
.date{
  margin-left: 30px;
  outline: none;
}
.radio__input{
  display: flex;
  justify-content: center;
}
.h3{
  margin: 30px;
} */
/* .radio__input{
  padding-top: 40px;
} */
/* .woman,.man{
  margin: 0 30px ;
}
button{
  margin-top: 30px;
  font-size: 25px;
  padding: 5px 50px;
  border-radius:5px;
  cursor: pointer;
  outline: none;
  border: none;
}
button:hover{
  color: #fff;
  background-color:#222;
} */

.red{
  color: red;
}
